
header(class="video-container")
  div(class="video-thumbnail")
    img(src=require("../../assets/person01.jpg").default, alt="", srcset="")
    div(class="video-controls")
      button(class="video-control control-mute thumbnail-01")
        img(src=require("../../assets/icon-audio.svg").default, alt="", srcset="")
      button(class="video-control control-hide thumbnail-01")
        img(src=require("../../assets/icon-video-on.svg").default, alt="", srcset="")
  div(class="video-thumbnail")
    img(src=require("../../assets/person02.jpg").default, alt="", srcset="")
    div(class="video-controls")
      button(class="video-control control-mute thumbnail-02")
        img(src=require("../../assets/icon-audio.svg").default, alt="", srcset="")
      button(class="video-control control-hide thumbnail-02")
        img(src=require("../../assets/icon-video-on.svg").default, alt="", srcset="")
  div(class="video-thumbnail")
    img(src=require("../../assets/person03.jpg").default, alt="", srcset="")
    div(class="video-controls")
      button(class="video-control control-mute thumbnail-03")
        img(src=require("../../assets/icon-audio.svg").default, alt="", srcset="")
      button(class="video-control control-hide thumbnail-03")
        img(src=require("../../assets/icon-video-on.svg").default, alt="", srcset="")
  div(class="video-thumbnail")
    img(src=require("../../assets/person04.jpg").default, alt="", srcset="")
    div(class="video-controls")
      button(class="video-control control-mute thumbnail-04")
        img(src=require("../../assets/icon-audio.svg").default, alt="", srcset="")
      button(class="video-control control-hide thumbnail-04")
        img(src=require("../../assets/icon-video-on.svg").default, alt="", srcset="")
  div(class="video-thumbnail")
    img(src=require("../../assets/person05.jpg").default, alt="", srcset="")
    div(class="video-controls")
      button(class="video-control control-mute thumbnail-05")
        img(src=require("../../assets/icon-audio.svg").default, alt="", srcset="")
      button(class="video-control control-hide thumbnail-05")
        img(src=require("../../assets/icon-video-on.svg").default, alt="", srcset="")
  div(class="video-thumbnail")
    img(src=require("../../assets/person06.jpg").default, alt="", srcset="")
    div(class="video-controls")
      button(class="video-control control-mute thumbnail-06")
        img(src=require("../../assets/icon-audio.svg").default, alt="", srcset="")
      button(class="video-control control-hide thumbnail-06")
        img(src=require("../../assets/icon-video-on.svg").default, alt="", srcset="")
  div(class="video-thumbnail")
    img(src=require("../../assets/person07.jpg").default, alt="", srcset="")
    div(class="video-controls")
      button(class="video-control control-mute thumbnail-07")
        img(src=require("../../assets/icon-audio.svg").default, alt="", srcset="")
      button(class="video-control control-hide thumbnail-07")
        img(src=require("../../assets/icon-video-on.svg").default, alt="", srcset="")
  div(class="video-thumbnail")
    img(src=require("../../assets/person08.jpg").default, alt="", srcset="")
    div(class="video-controls")
      button(class="video-control control-mute thumbnail-08")
        img(src=require("../../assets/icon-audio.svg").default, alt="", srcset="")
      button(class="video-control control-hide thumbnail-08")
        img(src=require("../../assets/icon-video-on.svg").default, alt="", srcset="")
  div(class="video-thumbnail")
    img(src=require("../../assets/person09.jpg").default, alt="", srcset="")
    div(class="video-controls")
      button(class="video-control control-mute thumbnail-09")
        img(src=require("../../assets/icon-audio.svg").default, alt="", srcset="")
      button(class="video-control control-hide thumbnail-09")
        img(src=require("../../assets/icon-video-on.svg").default, alt="", srcset="")
  div(class="video-thumbnail")
    img(src=require("../../assets/person10.jpg").default, alt="", srcset="")
    div(class="video-controls")
      button(class="video-control control-mute thumbnail-10")
        img(src=require("../../assets/icon-audio.svg").default, alt="", srcset="")
      button(class="video-control control-hide thumbnail-10")
        img(src=require("../../assets/icon-video-on.svg").default, alt="", srcset="")