div(class="content-container photos")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog01.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog02.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")  
    img(src=require("../../assets/dog03.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")  
    img(src=require("../../assets/dog04.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")  
    img(src=require("../../assets/dog05.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")  
    img(src=require("../../assets/dog06.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")  
    img(src=require("../../assets/dog07.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")  
    img(src=require("../../assets/dog08.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")  
    img(src=require("../../assets/dog09.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")  
    img(src=require("../../assets/dog10.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")  
    img(src=require("../../assets/dog11.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-search.svg").default, alt="", srcset="")  
    img(src=require("../../assets/dog12.jpg").default, alt="", srcset="")
div(class="content-item-view photos hide")
  img(src=require("../../assets/dog01.jpg").default, alt="", srcset="")