div(class="content-container videos hide")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog01.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog02.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")  
    img(src=require("../../assets/dog03.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog04.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog05.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog06.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog07.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog08.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog09.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog10.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog11.jpg").default, alt="", srcset="")
  div(class="content-item")
    div(class="content-item-overlay")
      img(src=require("../../assets/icon-videos.svg").default, alt="", srcset="")
    img(src=require("../../assets/dog12.jpg").default, alt="", srcset="")
div(class="content-item-view videos hide")
  iframe(width="100%" height="540" src="https://www.youtube.com/embed/rEGOihjqO9w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  h2(class="content-text") Hic magni repellendus esse
  p(class="content-text") Hic magni repellendus esse dolorem blanditiis saepe natus fugit?. Lorem ipsum dolor sit amet consectetur. Facere, laboriosam ut veniam obcaecati officia. Hic magni repellendus esse dolorem blanditiis saepe natus fugit?. Lorem ipsum dolor sit amet consectetur. Facere, laboriosam ut veniam obcaecati officia. Hic magni repellendus esse dolorem blanditiis saepe natus fugit?. Lorem ipsum dolor sit amet consectetur. Facere, laboriosam ut veniam obcaecati officia. Hic magni repellendus esse dolorem blanditiis saepe natus fugit?. Lorem ipsum dolor sit amet consectetur. Facere, laboriosam ut veniam obcaecati officia. Hic magni repellendus esse dolorem blanditiis saepe natus fugit?. Lorem ipsum dolor sit amet consectetur. Facere, laboriosam ut veniam obcaecati officia. Hic magni repellendus esse dolorem blanditiis saepe natus fugit?. Lorem ipsum dolor sit amet consectetur. Facere, laboriosam ut veniam obcaecati officia. Hic magni repellendus esse dolorem blanditiis saepe natus fugit?. Lorem ipsum dolor sit amet consectetur. Facere, laboriosam ut veniam obcaecati officia.